#search {
  margin: 64px auto;
  display: block;
  width: 630px;
  font-size: 24px;
  padding: 24px 32px;
  border-radius: 8px;
  text-align: center;
  background: #fafafa url(/img/search.png) no-repeat 16px 24px;
  opacity: .5;
  
  &:hover {
    cursor: pointer;
    opacity: .75;
  }
  
  &:focus {
    opacity: 1;
    cursor: default;
  }
}



#coverage {
  text-align: center;
  padding: 0 16px;
  font-size: 12px;
  margin: 32px 0;
  font-weight: 100;
  
  b {
    margin: 0 8px;
  }
  
  .covered {
    display: inline-block;
    height: 4px;
    border-radius: 2px;
    width: 100px;
    margin: 8px 0 0 0;
    background: #ddd;
    text-align: left;
    overflow: hidden;
    
    .done {
      dosplay: block;
      display: inline-block;
      height: 4px;
      background: #2ECC4066;
    }
  }
}



#pull {
  max-width: 650px;
  margin: 40px auto 0 auto;
  width: 100%;
  font-weight: 100;
  font-size: 12px;
  padding: 0 8px;
  box-sizing: border-box;
  
  h3 {
    font-size: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
  
  th {
    text-align: left;
  }
  
  td {
    padding: 8px 0;
    
    &:last-child {
      text-align: right;
    }
    
    code {
      display: block;
      color: #aaa;
      font-size: 10px;
    }
    
    form {
      input {
        width: 100%;
        display: block;
        margin: 0 0 10px 0;
      }
    }
  }
}



.help {
  border-radius: 8px;
  box-shadow: 0 0 25px #aaa;
  margin: 64px auto 0 auto;
  max-width: 600px;
  padding: 48px 16px 16px 16px;
  text-align: left;
  font-size: 16px;
  background: #333;
  color: #ccc;
  line-height: 200%;
  position: relative;
  overflow: hidden;
  
  &:before {
    display: block;
    content: 'Push timeseries data to HTTP endpoint';
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    padding: 2px 16px;
    border-bottom: 1px solid #555;
  }
  
  &.pull {
    margin-top: 20px;
    
    &:before {
      content: 'Pull data using Chrome extension';
    }
  }
  
  p {
    margin: 0;
    opacity: .5;
    
    &:before {
      content: '# ';
    }
  }
  
  code {
    color: #ddd;
    font-weight: 100;
    display: block;
    margin: 0 0 16px 0;
    
    &:last-child {
      margin: 0;
    }
    
    b {
      color: #01FF7099;
    }
  }
}

@media only screen and (max-width: 660px) {
  .help {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    
    &.pull {
      margin-top: 5px;
    }
  }
  
  #search {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}