#help {
  margin: 64px 8px;
  text-align: center;
  
  p {
    margin: 32px auto 64px auto;
  }
  
  code {
    background: #222;
    color: #eee;
    padding: 24px 48px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 100;
  }
}