#search {
  margin: .5em;
  display: inline-block;
  width: 300px;
  font-size: 12px;
  padding: 1em 1em 1em 40px;
  border-radius: 8px;
  text-align: left;
  background: #fff url(/img/logo.png) no-repeat 10px 10px;
  background-size: 24px;
  opacity: .75;
  
  &:hover {
    cursor: pointer;
    opacity: .85;
  }
  
  &:focus, &.focus {
    width: 400px;
    opacity: 1;
    cursor: default;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#search-results {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  left: 0;
  margin-top: -14px;
  min-height: 3.5em;
  background: #222;
  width: 400px;
  list-style: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  left: 14px;
  
  em {
    font-style: normal;
    display: block;
    text-align: left;
    padding: 12px;
    color: #888;
    font-size: 10px;
    font-weight: 100;
  }
  
  &.on {
    display: block;
  }
  
  li {
    padding: 12px;
    color: #aaa;
    
    &:active {
      padding: 13px 12px 11px 12px;
    }
    
    &.hover {
      color: #eee;
      cursor: pointer;
      background: #333;
    }
    
    b {
      font-weight: normal;
      margin: 0 8px 0 0;
    }
    
    small {
      color: #666;
    }
  }
}



#coverage, #alerts {
  position: relative;
  
  ul {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    text-align: left;
    padding: 0;
    margin: 0 0 0 15px;
    list-style: none;
    z-index: 2;
    border-radius: .5em;
    overflow: auto;
    
    li {
      background: #222;
      padding: 12px 12px 0 12px;
      color: #888;
      line-height: 100%;
      vertical-align: middle;
      
      &:last-child {
        padding-bottom: 12px;
      }
      
      span {
        margin: 0 .25em;
        vertical-align: middle;
      }
      
      a {
        vertical-align: middle;
        color: #7FDBFF;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
  
  &.on {
    ul {
      display: block;
    }
  }
}

#alerts ul {
  margin-left: 0;
  
  li a {
    color: #FF4136;
  }
}

